<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil - Pawzy</title>

  <!-- Estilos específicos para la página de perfil -->
  <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>
<header class="header">
  <div class="logo">
    <img src="/img/logo.png" alt="Logo Pawzy">
  </div>
  <nav class="nav">
    <a href="/feed" class="nav-button">Ver Feed</a>
    <a href="/accesoCuentas/logout" class="nav-button">Cerrar sesión</a>
  </nav>
</header>

<section class="perfil-section">
  <h1>Mi Perfil</h1>
  <img src="/images/perfil/user_default.png" alt="Foto de Perfil">
  <h2>Fotos guardadas</h2>
  <div class="perfil-grid">
    <img src="/images/perfil/imagen1.jpg" alt="Foto guardada 1">
    <img src="/images/perfil/imagen2.jpg" alt="Foto guardada 2">
  </div>
</section>

<script src="/js/perfil.js"></script>
</body>
</html>
